$primary-color: rgb(255, 174, 24);  


::-webkit-scrollbar{
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,500;0,600;1,400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');


.fade{
    transform: scaleY(.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

body{
    scroll-behavior: smooth; 
    overflow-x: hidden;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.container{
    max-width: 1440px;
    max-height: 100vh;
}

a{
  text-decoration: none;
}


#navbarNav{
  z-index: 2;
}

nav{
    font-size: 1.25rem;
    height: 6vh;

    .navbar-brand{
        font-size: 2rem;

        span{
            color: rgb(255, 174, 24);
        }
    }

   
    #profileBtn{
      display: none;
      font-size: 1rem;
      color: $primary-color;
    }
    
    #loginBtn{
        color: $primary-color;
    }
    
    #logoutBtn{
      display: none;
      color: red;
    }
}

#profileDisplay{
  background-color: rgba(37, 37, 37, 0.815);
  color: white;
  min-height: 45vh;
  height: auto;
  width: 25vw;
  position: absolute;
  top: 6%;
  right: 0;
  transition: all 0.5s;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

    #profileInfo{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      

      p{

        font-size: 1rem;

        span{
          color: $primary-color;
          margin-left: 0.5rem;
        }
      }
    }

    #profileInput{
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1.5rem;

      p{
        font-size: 1rem;
        font-weight: 400;

        span{
          color: $primary-color;
          margin-left: 1rem;
        }
      }



      .form-input{
        // background-color: lightcoral;
        width: 80%;
        display: flex;
        justify-content: space-between;

        input[type="text"]{
          border: none;
          border-bottom: 1px solid white;
          background-color: transparent;
          margin: 0.3rem 0;
          width: 75%;
          color: white;
          // font-weight: 400;

          &:focus{
            border: none;
          }
        }
  
        label{
          margin-top: 1rem;
        }
      }

      
    }

    button{
      margin-bottom: 2rem;
    }

  img{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
}

.hidden{
  transform: translateX(100%);
}

.user-content{
    display: flex;
    min-height: 100vh;
    height: auto;
    overflow: auto;

    #stoxs{   
        padding: 1rem;
        width: 100%;
        height: 45%;
        justify-content: center;


        .stox-item{
            background-color: rgba(0, 0, 0, 0.596);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            background-image: linear-gradient(#ff9e2fc7, #ff6026c7);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 1% 0.5rem;
            font-size: 1.1rem;
            font-weight: 400;
            position: relative;
            z-index: 1;
            height: 35vh;

            #X{
              font-size: 8rem;
              transform: translateY(-15%);
            }

            .stox-text{

              display: flex;
              flex-direction: column;
              height: 30%;
              justify-content: space-between;
              width: 100%;
              // background-color: lightcoral;

              h4{
                font-size: 1.8rem;
                color: white;
                // font-weight: 700;
              }
  
              p{
                font-size: 0.9rem;
                width: 100%;
              }
            }

           
            svg{
              position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 17.5vw;
                z-index: -1;
            }

            .card-inner{
              transition: transform 0.8s;
              transform-style: preserve-3d;
            }
            

            #buttons{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-bottom: 0.5rem;
            }

            .stox-content{
              display: flex;
              align-items: center;
            }


        }
    }
}



footer{
    position: relative;
    bottom: 0;
    width: 100vw;
}



#stoxDetailsModal{

  #modalBody{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 2rem;
    height: auto;

  }
  .modal-title{
    font-size: 2rem;
      span{
        color: $primary-color;
      }
  }
   
    
  .modal-content{
      transform: scale(0);
      animation: zoomIn 0.5s .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      
  }
}

#footer-icons{
  a{
      font-size: 1.3rem;
      border: none;
  }
}

.stox-footer{
  span{
      color: $primary-color;
      text-decoration: none;
  }
}



@keyframes unfoldIn{
    0%{
        transform: scaleY(.005) scaleX(.005);
    }
    50%{
        transform: scaleY(.005) scaleX(1);
    }
    100%{
        transform: scaleY(1) scaleX(1);
    }
}


@keyframes zoomIn {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
  }


  @keyframes unfoldOut {
    0% {
      transform:scaleY(1) scaleX(1);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(.005) scaleX(0);
    }
  }


  @keyframes zoomOut {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(0);
    }
  }


  @media screen and (max-width:1024px){

    #profileDisplay{
      height: 30vh;
      width: 30vw;
    }

    
    .user-content{
      #stoxs{
        .stox-item{
          font-size: 1rem;
          height: 40vh;
          width: 20vw;
          padding: 0.5rem;

          svg{
            height: 34vw;
          }
        }
      }

    }
    
  }

  @media screen and (max-width:768px){
    .user-content{
      #stoxs{
        .stox-item{
          font-size: 0.9rem;
          height: 30vh;
          width: 20vw;
          padding: 0rem;

          #X{
            font-size: 4.5rem;
            // transform: translateY(-15%);
          }

          .stox-text{

            display: flex;
            flex-direction: column;
            height: 30%;
            justify-content: space-between;
            width: 100%;
            // background-color: lightcoral;

            h4{
              font-size: 1.3rem;
              color: white;
              // font-weight: 700;
            }

            p{
              font-size: 0.7rem;
              width: 100%;
            }
          }

          svg{
            height: 34vw;
          }

          button{ 
            font-size: 0.6rem;
          }
        }
      }

    }

 
    .navbar-dark .navbar-toggler, .navbar-light .navbar-toggler{
      border: none;
  }

    .navbar{
      height: 9vh;
  }


  }



  @media screen and(max-width: 576px){

    .user-content{
      #stoxs{
        .stox-item{

          
          .stox-text{

            h4{
              font-size: 0.9rem;
              color: white;
              // font-weight: 700;
            }

          }
          svg{
              height: 45vw;
            }

            button{ 
              font-size: 0.5rem;
            }
            
          }
      }

    }

  }


  @media screen and(max-width: 450px){

    .user-content{
      #stoxs{
        .stox-item{
          font-size: 0.8rem;
          height: 25vh;
          width: 20vw;

          #X{
            font-size: 3rem;
            transform: translateY(-20%);
          }

          .stox-text{

            display: flex;
            flex-direction: column;
            height: 30%;
            justify-content: space-between;
            width: 100%;
            z-index: 10000;
            // background-color: lightcoral;

            h4{
              font-size: 0.7rem;
              color: white;
              // font-weight: 700;
            }

            p{
              font-size: 0.6rem;
              width: 100%;
              display: none;
            }
          }

          svg{
            height: 46.5vw;
          }
            
            .stox-content{
              display: none;
            }
            button{ 
              font-size: 0.4rem;
              padding: 0.2rem;
            }

        }
      }

    }

  }
