$primary-color: rgb(255, 174, 24);  

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,500;0,600;1,400&display=swap');


body{
    scroll-behavior: smooth; 
    overflow-x: hidden;
    // font-family: 'Merriweather', serif;
    font-family: 'Fira Sans Condensed', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

span{
    color: $primary-color;
}


.container{
    max-width: 1440px;
    max-height: auto;
}

nav{
    font-size: 1.25rem;
    height: 6vh;

    .navbar-brand{
        font-size: 2rem;

        // span{
        //     color: $primary-color;
        // }
    }
}


#title{
    background-color: lightgray;
    text-align: center;
}


#search{
    margin-top: 2rem;
    
        input[type=input]{
            width: 50%;
            outline: none;
            appearance: none;
            border: none;
            box-shadow: 0px 0px 10px lightgray;
            // margin-left: 2rem;
        }

    #right-search{
        // background-color: lightgreen;
        text-align: end;
    }
    
}


#search-result{
    // background-color: lightskyblue;
    height: 80vh;
    margin-top: 2rem;
    text-align: center;

    #right-result, #left-result{
        // background-color: lightskyblue;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #buttons{
        // background-color: lightsalmon;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;
    }
}


#productFormTitle{
    color: white;
}


.modal-body{
    // background-color:lightcoral;
    width: 100%;
    font-size: 1.2rem;

    label{
        margin-top: 3%;
    }

    #commentDiv{
        width: 100%;
        margin: 2% 0;
    }

    input[type="checkbox"]{
        margin: 3% 0;
    }

    input[type="text"], input[type="number"]{
        width: 95%;
        // margin: 0;
        // border: none;
        border-radius: 5px;
    }

    // .form-left{
    //    margin-right: 0.2rem;
    // }


    .formWrapper{
        // background-color: lawngreen;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .form-right{
        transform: translateX(5%);
        
    }
  
}



#footer-icons{
    a{
        font-size: 1rem;
    }
}

.stox-footer{
    span{
        color: $primary-color;
    }

}    