$primary-color: rgb(255, 174, 24);  

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,500;0,600;1,400&display=swap');


.bg-stox{
    background-color: rgb(247, 247, 247);
}

body{
    scroll-behavior: smooth; 
    overflow-x: hidden;
    // font-family: 'Merriweather', serif;
    font-family: 'Fira Sans Condensed', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

::placeholder{
    color: rgba(0, 0, 0, 0.3);
}

span{
    color: $primary-color;
}


.container{
    max-width: 1440px;
    max-height: auto;
}


nav{
    font-size: 1.25rem;
    height: 6vh;

    .navbar-brand{
        font-size: 2rem;

        // span{
        //     color: $primary-color;
        // }
    }
}

#faceoff{
    position: relative;
    min-height: 100vh;
}


#title{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    height: 6vh;

    #title-text{
        align-self: center;
    }
}


#search{
    margin-top: 2rem;
    // background-color: rgb(197, 197, 197);
    label{
        color: black;
        font-size: 1.2rem;
    }
    select{
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
        outline: none;
    }
    
    input[type=input]{
        font-size: 1.1rem;
        width: 50%;
        outline: none;
        appearance: none;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
        margin: 1rem 0;
            
        // margin-left: 2rem;
    }

    #right-search{
        // background-color: lightgreen;
        text-align: end;
    }
    
}


#search-result{
    // background-color: rgb(197, 197, 197);
    // background-color: lightskyblue;
    height: 80vh;
    margin-top: 2rem;
    text-align: center;

    #right-result, #left-result{
        // background-color: lightskyblue;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;

        .spinner-border{
            position: relative;
            left: 30%;
        }
    }



    #buttons{
        // background-color: lightsalmon;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        #saveButton{
            margin-bottom: 5rem;
        }
    }
}


#productFormTitle{
    color: white;
}


.modal-body{
    // background-color:lightcoral;
    width: 100%;
    font-size: 1.2rem;

    label{
        margin-top: 3%;
    }

    #commentDiv{
        width: 100%;
        margin: 2% 0;
    }

    input[type="checkbox"]{
        margin: 3% 0;
    }

    input[type="text"], input[type="number"]{
        width: 95%;
        // margin: 0;
        // border: none;
        border-radius: 5px;
    }

    // .form-left{
    //    margin-right: 0.2rem;
    // }


    .formWrapper{
        // background-color: lawngreen;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .form-right{
        transform: translateX(5%);
        
    }
  
}

#myChart1, #myChart2{
    height:auto;
    margin-bottom: 10rem;
    margin-top: 2rem;
}


// footer{
//     position: absolute;
//     bottom: 0;
//     width: 100vw;
//     // margin-top: 1%;
// }


#footer-icons{
    a{
        font-size: 1rem;
    }
}

.stox-footer{
    span{
        color: $primary-color;
    }

}    


.card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header{
    background-color: rgb(56, 56, 56);

    .modal-title {
        text-align: center;
        font-size: 1.5rem;
        color: $primary-color;
    }
}

.modal-body{
    text-align: justify;
}




.table{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: italic;

    thead > tr{
        color: $primary-color;
    }
}

#profileBtn{
    display: none;
    font-size: 1rem;
    color: $primary-color;
}

#loginBtn{
    color: $primary-color;
}

#logoutBtn{
    display: none;
    color: red;
}

